* {
	box-sizing: border-box;
}
body.loading #view, body.loading #growl, body.loading #logout {
	display: none;
}
html, body, #view {
	margin: 0;
	background: #CFD8DC /* Blue Grey 100 */;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	overflow: hidden;
}
#view {
	display: flex;
	flex-grow: 1;
	align-items: stretch;
	padding: 2px;
}
#view > section {
	margin: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.25);
	padding: 0 0 5px;
}
#view section {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
section > div {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}
#commands div {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row;
}
#view > section {
	background: #ECEFF1; /* Blue Grey 50 */
	border: solid 2px #546E7A; /* Blue Grey 600 */
}
#view > section > div {
	margin: 2px;
}
#view > section > div > section {
	margin: 2px;
	background: #fff;
}
#output, #push_reply, #push_result, #available_commands {
	flex-grow: 1;
}
h2, h3 {
	line-height: 20px;
	height: 27px;
	padding: 3px 4px 4px;
}
body > header, h1, h2, h3, ul, #battle_status, select, label, input, textarea, iframe, #growl, a {
	font-family: sans-serif;
	color: rgba(0,0,0,0.87);
}
#preset_commands {
	overflow-y: auto;
	flex-grow: 2;
}
ul {
	font-size: 12px;
	list-style-type: none;
	padding: 0;
	margin-bottom: 18px;
}
ul li {
	line-height: 21px;
}
section > ul {
	margin: 0 10px;
}
header {
	background: #37474F; /* Blue Grey 800 */
	display: flex;
	padding: 0 5px;
}
h1 {
	color: rgba(255,255,255,1);
}
h1, header a {
	margin: 0;
    line-height: 30px;
    font-weight: normal;
    padding: 2px 15px 0 0;
}
header a {
	color: rgba(255,255,255,0.7);
	font-size: 11.5px;
	text-decoration: none;
}
header a:hover {
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
h1 {
	font-size: 16px;
	flex-grow: 1;
}
h2 {
	color: rgba(255,255,255,1);
	background: #546E7A; /* Blue Grey 600 */
	margin: 0;
	font-size: 14.5px;
	font-weight: normal;
}
h3 {
	margin: 0 0 10px;
	background: #ECEFF1; /* Blue Grey 50 */
	font-weight: normal;
	font-size: 13px;
	color: #000;
}
iframe {
	border: none;
	margin: -10px 0 0;
	height: 100px;
}
input:not([type=submit]), select {
	margin: -5px 5px 5px;
	padding: 1px 2px;
	height: 22px;
	line-height: 22px;
}
input[type=submit] {
	margin: -5px 5px 5px;
	padding: 1px 2px;
	height: 22px;
}
label {
	margin: 0 5px 0;
	font-size: 13.5px;
}
#battle_status {
	margin: -5px 5px 5px;
	font-size: 13px;
	padding: 5px;
	height: 100px;
	font-family: monospace;
	white-space: pre;
}

@keyframes changed {
    0%   {color: #000;}
    5%   {color: #f00;}
    100% {color: rgba(0,0,0,0.87);}
}

#battle_status.changed {
	color: #f00;
    animation-name: changed;
    animation-duration: 3s;	
}
textarea {
	color: rgba(0,0,0,0.54);
}
input {
	margin-bottom: 10px;
}
#push_reply ul {
	display: flex;
	margin: 0;
}
#push_reply ul li {
	padding: 0 10px;
	margin: 0;
}
#push_result {
	margin: 0;
	padding: 10px;
	border: none;
    resize: none;
}

.unimplemented {
	display: none !important;
}


#view section#login {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 200px;
	margin-top: -100px;
	margin-left: -150px;
}
#view section#login h2 {
	margin-bottom: 5px;
}
#view section#login div {
	padding: 0 10px;
}
section label {
	line-height: 30px;
}
#connect {
	margin-top: 5px;
	height: 25px;
}
#growl {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 32px;
	line-height: 24px;
	padding: 5px 8px 3px;
	background: #ffe;
	color: #554;
	font-weight: bold;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}